.chart {
  margin: 20px;
  padding: 20px;

  border-radius: 10px;
  /* border: 1px solid blue; */
  background-color: white;
}

.chartTitle {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
}
